<ion-header>
    <ion-navbar>
        <ion-title>Proyectos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="buscaProyectos($event)" [showCancelButton]="shouldShowCancel"  (ionCancel)="onCancel($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let proyecto of proyectos">
            <ion-card>
                <ion-grid>
                    <ion-row>
                        <ion-col  text-wrap>
                            <p>Proyecto</p>
                            <h4>{{ proyecto.nombre }}</h4>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col class="inline">
                                <p>Monto</p>
                                {{ proyecto.monto }}
                            </ion-col>
                            <ion-col class="inline">
                                <p>Moneda</p>
                                {{ proyecto.moneda }}
                            </ion-col>
                            <ion-col class="right">
                                <button (tap)="detalleProyecto(proyecto)" ion-button>Ver</button>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <!-- <ion-grid>
                <ion-row text-wrap>
                    <ion-col>
                        <small>Proyecto</small>
                        <p><strong>{{ proyecto.nombre }}</strong></p>
                    </ion-col>
                </ion-row>
                <ion-row text-wrap>
                    <ion-col>
                        {{ proyecto.monto }}
                    </ion-col>
                    <ion-col>
                        {{ proyecto.moneda }}
                    </ion-col>
                </ion-row>
                <ion-row text-wrap>
                    <ion-col col-12 text-wrap>
                        <button (tap)="detalleProyecto(proyecto)" ion-button>Ver</button>
                    </ion-col>
                </ion-row>
            </ion-grid> -->
        </ion-item>
    </ion-list>
</ion-content>